{"dojo.animation.Timer":{"default":{"undefined dojo.animation.Timer(intvl)":""}},"dojo.animation.Timer.onTick":{"default":{"undefined dojo.animation.Timer.onTick()":""}},"dojo.animation.Timer.setInterval":{"default":{"undefined dojo.animation.Timer.setInterval(ms)":""}},"dojo.animation.Timer.start":{"default":{"undefined dojo.animation.Timer.start()":""}},"dojo.animation.Timer.stop":{"default":{"undefined dojo.animation.Timer.stop()":""}}}