{"dojo.animation.Timer":{"undefined dojo.animation.Timer(intvl)":[]},"dojo.animation.Timer.onTick":{"undefined dojo.animation.Timer.onTick()":[]},"dojo.animation.Timer.setInterval":{"undefined dojo.animation.Timer.setInterval(ms)":[]},"dojo.animation.Timer.start":{"undefined dojo.animation.Timer.start()":[]},"dojo.animation.Timer.stop":{"undefined dojo.animation.Timer.stop()":[]}}