body {
	margin : 0;
	margin-top : 12px;
	padding : 0;
	text-align : center ;
	font-family : lucida grande, verdana, helvetica ;
	font-size : 87%;
	/* background-color : #ededde; */
	color: black;
	background-color : white;
	background-repeat: repeat-x;
	background-image: url("img/bg-fade.png"); /* fades from #cccccc to white */
}

a:link {
	color: #515D53;
}

a:visited {
	color: black;
}

#wrapper {
	margin : auto ;
	overflow : visible ;
	width : 660px;
	padding-left : 60px;
	background-color : white;
	background-image : url(img/dojo.sidebar.png);
	background-repeat : no-repeat;
	background-position : 0 100%;
	border : 1px solid #ccc;
}

#content {
	text-align : left ;
}

#content h1 {
	text-indent : -5000px;
	background-image : url(img/page-title.png) ;
	background-repeat : no-repeat;
	width : 500px;
	height : 73px;
	margin : 0 ;
}

#summary {
	padding : 10px ;
	border-bottom : 1px solid #ccc ;
	margin : 10px ;
	margin-bottom : 0 ;
}

#sections {
	text-align : left ;
	font-size : 0.83em ;
}

#mailman, #viewcvs, #trac {
	width : 160px;
	float : left ;
	margin : 10px;
	margin-top : 0 ;
	padding : 10px ;
}

#mailman h2, #viewcvs h2, #trac h2 {
	text-align : center ;
}

#mailman h2 a span {
	display : block ;
	text-indent : -5000px;
	background-image : url(img/listreader-white.png) ;
	background-repeat : no-repeat;
	background-position : top center;
	width : 100%;
	height : 96px;
	cursor : hand ;
}
#mailman ul {
	margin : 0;
	padding : 0 0 0 1em; 
}
#mailman ul li {
	margin-bottom : 0.5em;
}

#viewcvs h2 a span {
	display : block ;
	text-indent : -5000px;
	background-image : url(img/viewcvs-white.png) ;
	background-repeat : no-repeat;
	background-position : top center;
	width : 100%;
	height : 96px;
	cursor : hand ;
}

#trac h2#traclogo a span {
	display : block ;
	text-indent : -5000px;
	background-image : url(img/trac-white.png) ;
	background-repeat : no-repeat;
	background-position : top center;
	width : 100%;
	height : 96px;
	cursor : hand ;
}
#trac h2#jotlogo a span {
	display : block ;
	text-indent : -5000px;
	background-image : url(img/jotspot.png) ;
	background-repeat : no-repeat;
	background-position : top center;
	width : 100%;
	height : 35px;
	cursor : hand ;
}

.border-spacer {
	float : left ;
	width : 1px;
	height : 270px;
	margin : 10px;
	border-right : 1px solid #ccc ;
}

