
/* * * Print styles * * */
@import url(dojo-print.css);

/* * * Screen styles * * */
@media screen {
	html { margin : 0; }

	body {
		margin : 0;
		padding : 20px;
		font-family : Veranda, Geneva, Arial, Helvetica, sans-serif;
		font-size : 90%;
		background-color : white;
		background-repeat: repeat-x;
		background-image: url("http://dojotoolkit.org/img/bg-fade.png"); /* fades from #cccccc to white */
	}

	td { font-size : 90%; }

	.docinfo {
		float : left;
		width : 190px;
		margin : 0;
		background : white;
		background-image: url("http://dojotoolkit.org/img/bg-fade.png"); /* fades from #cccccc to white */
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;
	}

	.docinfo td, .docinfo th {
		padding : 0 4px;
		font-size : .82em;
	}

	p.topic-title {
		/*
		border-top : 1px solid #4f4677;
		padding-top : 10px;
		*/
		margin : 10px 10px 0 10px;
		text-indent : -5px;
		font-weight : bold;
		font-size : 1.1em;
	}

	.contents {
		float : left;
		clear : left;
		width : 190px;
		border-bottom : 15px solid #666666;
		background : white;
		font-size : .82em;
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;
	}

	.contents :link, .contents :visited {
		color : black;
	}

	.contents :link:hover, .contents :visited:hover {
		color : black;
	}

	.section {
		margin-left : 210px;
		margin-right : 3em;
		/*
		margin-bottom : 20px;
		padding-bottom : 50px;
		*/
		/* FIXME: need a section separator */
		/* background : url(../images/dots.gif) no-repeat bottom center; */
	}

	.section .section {
		margin-left : 15px;
		margin-right : 0;
		margin-bottom : 0;
		padding-bottom : 20px;
		background-image : none;
	}

	.aside {
		float : right;
		width : 300px;
		padding : 10px;
		border : 2px solid #4f4677;
		/* background : #ece9f0; */
		font-size : 90%;
	}

	.aside :first-child {
		margin-top : 0;
	}
}


/* * * Common styles * * */
ul {
	list-style-type : square;
}

.document {
	display : inline;
}

.docinfo-name {
	padding-right : 5px;
	font-weight : normal;
	text-align : left;
}

.contents ul {
	margin-top : 0;
	margin-left : 2em;
	padding-left : 0;
	padding-right : 5px;
	color : #666;
}

.contents ul li {
	margin-top : 5px;
}

.contents ul li ul {
	margin-left : 1em;
}

h1, h2, h3, h4, h5, h6 {
	color : #666666;
	font-family : Georgia, sans-serif;
}

h1.title {
	padding-top: 100px;
	font-size : 1.5em;
	font-weight : normal;
	font-family : Georgia, sans-serif;
	letter-spacing : 1px;
	background : white url(http://dojotoolkit.org/img/page-title.png) no-repeat top right;

	border-bottom : 1px solid #ccc ;
	border-right: 1px solid #ccc ;
	border-left: 1px solid #ccc ;
	width : 100%;
	height : 50px;
	margin : 0;
	text-align: center;
}

.section h1 { font-size : 1.2em; }
.section h2 { font-size : 1em; }
.section h3 { font-size : 1em; font-style : italic; }
.section h4 { font-size : .9em; }
.section h5 { font-size : .82em; }
.section h6 { font-size : .82em; font-style : italic; }

.section h1 , .section h2 , .section h3 , .section h4 , .section h5 , .section h6 ,
.section h1 a, .section h2 a, .section h3 a, .section h4 a, .section h5 a, .section h6 a {
	text-decoration : none;
	color : #666666;
	cursor : default;
}

.aside h1 , .aside h2 , .aside h3 , .aside h4 , .aside h5 , .aside h6 ,
.aside h1 a, .aside h2 a, .aside h3 a, .aside h4 a, .aside h5 a, .aside h6 a {
	color : black;
}

.section li {
	margin-bottom : 0.3em;
	margin-left:0.2em;
	padding-left:0em;
}

.section dd, .section ul {
	margin-left : 0.2em;
	padding-left:0em;
}

.section blockquote {

}

.section p, .section li, .section blockquote {
	line-height : 1.3em;
	text-align: justify;
}

