<span style="display:none;"><!--
--><span dojoAttachPoint="spacerNode"
	style="display:inline-block;border-spacing:0px;line-height:0px;width:1px;"><!--
	--><div style="display:table-cell;display:inline-block;border-spacing:0px;line-height:0px;"><!--
		--><span dojoAttachPoint="relNode"
			style="display:inline-block;position:relative;top:0px;border-spacing:0px;line-height:0px;overflow:visible;"><!--
	 		--><img border="0"
				hspace="0"
				vspace="0"
				dojoAttachPoint="upArrowNode"
				dojoAttachEvent="onDblClick: _upArrowDoubleClicked;  onMouseDown: _upArrowPressed; onMouseUp: _arrowReleased; onMouseMove: _discardEvent;"
				src="${this.incrementSrc}"
				style="display:block;border-width:0px 1px 1px 0px;border-style:outset;"><!--
			--><img border="0"
				hspace="0"
				vspace="0"
				dojoAttachPoint="downArrowNode"
				dojoAttachEvent="onDblClick: _downArrowDoubleClicked;  onMouseDown: _downArrowPressed; onMouseUp: _arrowReleased; onMouseMove: _discardEvent;"
				src="${this.decrementSrc}"
				style="display:block;border-width:0px 1px 1px 0px;border-style:outset;"><!--
		--></span><!--
	--></div><!--
--></span>
</span>
