<div id="${this.widgetId}" class="dojoFloatingPane" dojoAttachEvent="onMouseDown">
	<div dojoAttachPoint="titleBar" class="dojoFloatingPaneTitleBar"
	  		style="position: absolute; top: 0px; left; 0px; width: 100%; display: none;">
	  	<img dojoAttachPoint="titleBarIcon" src="${this.iconSrc}" class="dojoTitleBarIcon">
		<div dojoAttachPoint="closeAction" dojoAttachEvent="onClick:closeWindow"
   	  		class="dojoFloatingPaneCloseIcon"></div>
		<div dojoAttachPoint="restoreAction" dojoAttachEvent="onClick:restoreWindow"
   	  		class="dojoFloatingPaneRestoreIcon"></div>
		<div dojoAttachPoint="maximizeAction" dojoAttachEvent="onClick:maximizeWindow"
   	  		class="dojoFloatingPaneMaximizeIcon"></div>
		<div dojoAttachPoint="minimizeAction" dojoAttachEvent="onClick:minimizeWindow"
   	  		class="dojoFloatingPaneMinimizeIcon"></div>
	  	<div dojoAttachPoint="titleBarText" class="dojoFloatingPaneTitleText">${this.title}</div>
	</div>

	<div dojoAttachPoint="containerNode" class="dojoFloatingPaneClient"
		style="position: relative; height: 100%; width: 100%;">
	</div>

	<div dojoAttachPoint="resizeBar" class="dojoFloatingPaneResizebar"
		style="position: absolute; bottom: 0px; left: 0px; width: 100%;">
	</div>

</div>