#dojo-header{
	width:100%;
	height:12px;
	border-bottom:6px solid #f0da73;;
	background-image:url(../img/idx-header-bg.jpg);
	background-repeat:repeat-x;
	background-position:bottom left;
}
p#foundation-head{
	width:100%;
	height:200px;
	margin:0;
	text-indent:-5000px;
	background-color:#eee;
	background-image:url(../img/foundation-header.gif);
	background-repeat:no-repeat;
	background-position:75px 25px;
	border-top:1px solid #6290d2;
	border-bottom:1px solid #6290d2;
}
#foundation-body{
	width:60%;
	padding:12px 48px;
}
#foundation-body p {
	margin-bottom:12px;
}
#partners a {
	display:block;
	float:left;
	height:40px;
	overflow:visible;
	margin:12px;
}
