.dojoTree {
	width:25em;
	height:100%;
	font-family:Arial sans-serif;
	color:#0054aa;
	background-color:#e1f0ff;
	border:1px solid #000000;
}

.className1 {

}

.className2 {
	color:#001488;
	background-color:#c1d0df;
}

.className3 {
	color:#0034a0;
	background-color:#b1c0cf;
}

.folderClosed {
	width:1em;
	height:1em;
}

.folderOpen {
	width:1em;
	height:1em;
}

.leaf {
	width:1em;
	height:1em;
}
