.dojoTree {

}

.className1 {

}

.className2 {
	color:#001488;
	background-color:#c1d0df;
}

.className3 {
	color:#0034a0;
	background-color:#b1c0cf;
}

.folderClosed {
	width:1em;
	height:1em;
}

.folderOpen {
	width:1em;
	height:1em;
}

.leaf {
	width:1em;
	height:1em;
}
