<div dojoAttachPoint="domNode">
	<div dojoAttachPoint="navigationNode">

		<div dojoAttachPoint="menuNavigationNode">
		</div>

		<div dojoAttachPoint="demoNavigationNode">
			<table dojoAttachPoint="demoListingsNode">
				<tbody dojoAttachPoint="demoListingsTbody">
				</tbody>
			</table>
		</div>

	</div>

	<div dojoAttachPoint="demoContainerNode">

		<div dojoAttachPoint="demoPaneNode">
		</div>

		<div dojoAttachPoint="demoHeaderNode">
			<div dojoAttachPoint="collapsedMenuNode" dojoAttachEvent="onclick: expandDemoNavigation">Dojo Demos</div>
			<div dojoAttachPoint="aboutNode">About this Demo</div>
		</div>
	</div>
</div>
