
.dojoFloatingPane {
	position: absolute;
	border: 1px solid;
	border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
	overflow: visible;		/* so drop shadow is displayed */
	z-index: 5;
	background-color: ThreeDFace;
	-moz-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.dojoTitleBarIcon {
	height: 22px;
	width: 22px;
	vertical-align: middle;
	float: left;
	margin-right: 5px;
}

.dojoFloatingPaneTitleBar {
	vertical-align: middle;
	z-index: 2;
	height: 22px;
	color: CaptionText;
	font: small-caption;
	background-color: #7596c6;
	cursor: default;
}
.dojoFloatingPaneTitleText {
	padding: 2px 4px 2px 2px;
}

/* minimize/maximize icons are specified by CSS only */
.dojoFloatingPaneMinimizeIcon,
.dojoFloatingPaneMaximizeIcon,
.dojoFloatingPaneRestoreIcon,
.dojoFloatingPaneCloseIcon {
	vertical-align: middle;
	height: 22px;
	width: 22px;
	float: right;
}
.dojoFloatingPaneMinimizeIcon {
	background-image: url(images/floatingPaneMinimize.gif);
}
.dojoFloatingPaneMaximizeIcon {
	background-image: url(images/floatingPaneMaximize.gif);
}
.dojoFloatingPaneRestoreIcon {
	background-image: url(images/floatingPaneRestore.gif);
}
.dojoFloatingPaneCloseIcon {
	background-image: url(images/floatingPaneClose.gif);
}

/* bar at bottom of window that holds resize handle */
.dojoFloatingPaneResizebar {
	z-index: 2;
	height: 13px;
	background-color: ThreeDFace;
}

.dojoFloatingPaneClient {
	border: 1px solid;
	border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow;
	background-color: ThreeDFace;
	/*padding: 8px;*/
	font-family: Verdana, Helvetica, Garamond, sans-serif;
	font-size: 12px;
	width: 100%;
	height: 100%;
	overflow: auto;
	-moz-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	z-index: 2;
}
