/* ----- collection of buttons -------- */
.dropdownButtonCollection {
	margin : 0;
	border-spacing : 5px 0px;	/* space between buttons */
	position: static;
	background-color: default;
}

/* if the buttons are different sizes (not recommended), makes tops align */
.dropdownButtonCollection tr td {
	vertical-align: top;
}

/** ---- color/font settings --- **/
.dropdownButtonCollection * {
	font-size: 8pt;
	white-space: nowrap;
	color: black;
}

.dropdownButtonCollection .noHover {
	background-color : #f4f4f4;
}

.dropdownButtonCollection .hover, td.pressed {
	background-color: #ddd;
	cursor: pointer;
}

/* button (disabled) */
.dropdownButton.disabled, .dropdownButton.disabled * {
	color : #999;
	cursor : default;
	background-color : #f4f4f4;
}

/** ----- container for the button and the menu below it ----- **/
.buttonAndMenu {
	border-spacing: 0px;
	cell-spacing: 0px;
	cell-padding: 0px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

/* ---------- a single button ---------- */
.dropdownButton {
	position: static;
	border : 3px outset #ccc;
	border-spacing: 2px;
	border-collapse: collapse;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	cursor: pointer;
}

.dropdownButton .label {
	padding-right: 5px;
	/* if icon and label are split across two lines, center icon */
	text-align: center;
}

.dropdownButton img, .dropdownButtonsMenu img {
	vertical-align: middle;	/* if icon and label are on same line, center them */
}

.dropdownButton.disabled a {
	color: gray;
}

/* button arrow */
.dropdownButton .downArrow {
	border-left : solid 2px gray;	/* line between label and arrow */
	background-image : url(images/dropdownButtonsArrow.gif);
	background-position: center;
	background-repeat: no-repeat;
	width: 10px;
	cursor: pointer;
}

.dropdownButton.disabled .downArrow {
	background-image : url(images/dropdownButtonsArrow-disabled.gif);
	cursor : default;
}


/* Menu */
 
 .dropdownButtonsMenu {
	position : absolute;
	display : none;		/* until someone clicks the arrow */
	top: -5px;
	left: 0px;
	border : 1px solid #aaa;
	background-color : #f4f4f4;
	z-index : 99;
	list-style : none;
	margin : 0px 0px 0px 0px;
	padding : 0;
}

.dropdownButtonsMenu li {
}

