/*
	dojo.css
	Baseline CSS file for general usage.

	This file is intended to be a "quick and dirty" stylesheet you can use to give
	a straight-up web page some basic styling without having to do the dirty work
	yourself.

	This stylesheet is NOT intended to serve as the foundation for more complex things--
	including the use of a TABLE for layout purposes.  The table definitions in this
	file make the assumption that you will be using tables for thier declared purpose:
	displaying tabular data.

	If you are looking for a baseline stylesheet using tables for grid layout, you will
	need to supply your own layout rules to override the ones in this stylesheet.
	
	Applications using Dojo will function correctly without including this
	file, but it should provide sane defaults for many common things that page
	authors often need to set up manually.

	The Dojo Core uses this stylesheet to quickly style HTML-based tests and demos.  Feel
	free to use it as you will.
*/

/* 
	Style definitions, based loosely on the Dijit Tundra theme.
*/
body {
	font-size: 100%;
}

/* Headings */
h1 {
	font-size: 1.5em; 
	line-height: 1em; 
	margin-top: 1em;
	margin-bottom:0;
}

h2 {
	font-size: 1.1667em; 
	line-height: 1.286em; 
	margin-top: 1.929em; 
	margin-bottom:0.643em;
}

h3, h4, h5, h6 {
	line-height: 1.5em; 
	margin-top: 1.5em; 
	margin-bottom: 0;
}

/* paragraphs, quotes and lists */
p {
	margin-top: 1.5em; 
	margin-bottom: 1.5em; 
	line-height: 1.5em;
}

blockquote { 
	font-size: 0.916em; 
	margin-top: 3.272em; 
	margin-bottom: 3.272em; 
	line-height: 1.636em; 
	padding: 1.636em; 
}

ol li, ul li {
	line-height: 1.5em;
}

/* pre and code */
pre, code { 
	font-size:115%;
}

pre {
	padding: 1.5em;
}

/*
	Tables

	Note that these table definitions make the assumption that you are using tables
	to display tabular data, and NOT using tables as layout mechanisms.  If you are
	using tables for layout, you will probably want to override these rules with
	more specific ones.

	These definitions make tabular data look presentable, particularly when presented
	inline with paragraphs.
*/

table.dojoTabular { 
	border-collapse: collapse; 
	border-spacing: 0; 
	border: 1px solid #ccc; 
	margin: 0 1.5em;
}

.dojoTabular th { 
	text-align: center; 
	font-weight: bold;
}

table.dojoTabular thead, table.dojoTabular tfoot { 
	background-color: #efefef; 
	border: 1px solid #ccc; 
	border-width: 1px 0; 
}

table.dojoTabular thead tr th,
table.dojoTabular thead tr td,
table.dojoTabular tbody tr td,
table.dojoTabular tfoot tr td { 
	padding: 0.25em 0.5em;
}
